.Jeremy
{
  font-size: 36px;
  margin: 40px 0 10px 143px;
  font-weight: bold;
  
}
.Jerem
{
  font-size: 18px;
  margin: 28px 0 0 143px;
}
.Jerôme
{
  font-size: 27px;
  margin: 25px 0 0 143px;
  font-weight: bold;

}
.Joe
{
  font-size: 18px;
  margin: 25px 0 0 143px;
  font-weight: bold;
}
.Jeff
{
  font-size: 18px;
  margin: 22px 0 0 143px;
  line-height: 160%;
}
.Bob
{
  font-size: 18px;
  margin: 18px 0 0 143px;
  line-height: 160%
}
.Stopmakingithardtoalign
{
  font-size: 21px;
  margin: 21px 0 0 143px;
  font-weight: bold;
}
.Jeffcitation
{
  font-size: 18px;
  margin: 22px 0 0 183px;
  line-height: 160%;
}
.Epilogue
{
  font-size: 27px;
  margin: 20px 0 0 143px;
  font-weight: bold;

  border-top: 2px solid black;
  padding-top: 20px;
}
body
{
  color:#444
}
